[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/cgltf"]
	path = vendor/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/Akshat-max-dev/imgui.git
	branch = docking
[submodule "vendor/ImGuiFileDialog"]
	path = vendor/ImGuiFileDialog
	url = https://github.com/Akshat-max-dev/ImGuiFileDialog.git
	branch = Lib_Only
[submodule "vendor/compressonator"]
	path = vendor/compressonator
	url = https://github.com/Akshat-max-dev/compressonator.git
[submodule "vendor/gli"]
	path = vendor/gli
	url = https://github.com/Akshat-max-dev/gli.git
[submodule "vendor/ImGuizmo"]
	path = vendor/ImGuizmo
	url = https://github.com/Akshat-max-dev/ImGuizmo.git
[submodule "vendor/SPIRV-Cross"]
	path = vendor/SPIRV-Cross
	url = https://github.com/Akshat-max-dev/SPIRV-Cross.git
